<div class="content">
    <div class="section1">
        <h3 style="padding-left: 5px;padding-right: 5px;background-color: #fff;width: auto;color: #6f5499;border-radius: 5px;">Next Track</h3>
        <div>
        <marquee><h2>{{liveTrack}}</h2></marquee>
        </div>
    </div>

    <div class="section2">
        <h1>Shoot your track here</h1>
        <input type="text" [(ngModel)]="trackName" class="form__input" id="songname" placeholder="Enter song name" required="" />
        <button class="button" (click)="submitTrackToList()">Send</button>
        <!-- <div id="canvas-container">
        </div> -->
    </div>

    <div class="section3">
        <h3 style="padding-left: 5px;padding-right: 5px;background-color: #fff;width: auto;color: #9dc183;border-radius: 5px;">Streamed Tracks</h3>

            <table id="customers">
                <tr>
                <th>Track Name</th>
                </tr>

                <tr *ngFor="let track of allTracksInitialLoad">
                <!-- <h2 style="margin: 0;">{{track}}</h2> -->
                <td>{{track}}</td>
                </tr>
            </table>

    </div>
</div>

<div style="padding-top:20px;padding-bottom: 20px;">
    <div style="z-index: 999;position: relative;padding:20px;width: 200px;height: 200px;background-color: aliceblue;border-radius: 12px;">
        <h2>Orientation</h2>
        <p>{{orientationValues.alpha}}</p>
        <p>{{orientationValues.beta}}</p>
        <p>{{orientationValues.gamma}}</p>

        <!-- <input type="button" value="Go to room" (click)="navigateToRoom()"> -->

    </div>
</div>
<div style="padding-top:20px;padding-bottom: 20px;">
    <div style="z-index: 999;position: relative;padding:20px;width: 200px;height: 200px;background-color: aliceblue;border-radius: 12px;">
        <h2>Broadcast</h2>

        <p>{{broadcastingOrientationValues.alpha}}</p>
        <p>{{broadcastingOrientationValues.beta}}</p>
        <p>{{broadcastingOrientationValues.gamma}}</p>
        <!-- <p *ngFor="let xyz of broadcastingOrientationValues">{{xyz.alpha}}</p> -->
        
    </div>
</div>