* {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

  .form__input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    background: rgb(238, 240, 244);
    /* background-color: rgb(255, 255, 255); */
    border: none;
    width: 350px;
    height: 45px;
    border: solid 3px #8df3b8;
    transition: all 0.3s;
    text-align: center;
  }
  .form__input::placeholder {
      text-align: center;
      color: rgb(214, 214, 214);
  }

  .buttonContainer {
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  .button {
    margin-top: 10px;
    background-color: rgb(0, 120, 255);
    box-shadow: rgb(0 120 255 / 60%) 0px 14px 24px -10px;
    border: 1px solid #007bff;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 350px;
    height: 40px;
    font-size: 19px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(0, 106, 228);
    border: 1px solid rgb(0, 106, 228);
  }

  .content {
    display:flex;
    justify-content: center;  
    align-items: center;
    color: white;
  }

  .section1 {
    text-align: center;
    background: #6f5499;
    height: 750px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: 15px;
    border-radius: 4px;
    box-shadow: 0 10px 6px -6px #777;
    backdrop-filter: blur(15px);
  }

  .section2 {
    text-align: center;
    background: #fff;
    color: black;
    box-shadow: 0 3px 10px -2px rgb(44 48 55 / 18%), 0 30px 84px -18px rgb(31 37 38 / 36%);
    height: 750px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: 15px;
    border-radius: 4px;
    /* justify-content: center;  
    align-items: center; */
    /* box-shadow: 0 10px 6px -6px #777; */
    /* filter:blur(4px); */
  }

  .section3 {
    text-align: center;
    background: #9dc183;
    height: 750px;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: 15px;
    border-radius: 4px;
    /* justify-content: center;  
    align-items: center; */
    box-shadow: 0 10px 6px -6px #777;
    backdrop-filter: blur(15px);
    /* filter:blur(4px); */
  }

  /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

    .content {
        display:block;
        justify-content: center;  
        align-items: center;
      }

    .section1 {
        backdrop-filter: blur(15px);
        text-align: center;
        background: #6f5499;
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: block;
        margin: 0px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: 0 10px 6px -6px #777;
      }
    
    .section2 {
        backdrop-filter: blur(15px);
        text-align: center;
        background: #fff;
        color: black;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        margin: 0px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: 0 10px 6px -6px #777;
    }
    
    .section3 {
        backdrop-filter: blur(15px);
        text-align: center;
        background: #9dc183;
        height: auto;
        overflow: scroll;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        margin: 0px;
        margin-bottom: 15px;
        border-radius: 4px;
        box-shadow: 0 10px 6px -6px #777;
    }

    .form__input {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #333;
        font-size: 1.2rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        height: 45px;
        border: solid 3px #8df3b8;
        transition: all 0.3s;
        text-align: center;
    }
    .form__input::placeholder {
        text-align: center;
        color: rgb(214, 214, 214);
    }
}


  