<h1>Suggested Track</h1>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Track Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{trackName}}</td>
        </tr>
        <tbody>
    </table>
</div>

<div class="table-wrapper2" style="padding-top: 80px;">
    
    <div class="form__group" style="padding-bottom: 20px;">
        <input type="text" (keyup.enter)="submitTrackToList()" [(ngModel)]="trackName" class="form__input" id="songname" placeholder="ENTER SONG NAME" required="" />
    </div>
    </div>
    
    <div class="table-wrapper">
    <div class="buttonContainer">
    <button class="button" (click)="submitTrackToList()">Send</button>
    </div>
</div>

<h1>Streamed Tracks</h1>
<div class="table-wrapper" style="padding-top: 40px;">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Track Name</th>
            <th>Added Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let track of streamedTracks">
            <td>{{track}}</td>
            <td></td>
        </tr>
        <tbody>
    </table>
</div>